@page {
    size: A4;
    margin-left: 2.5cm;
    margin-top: 1.25cm;
    margin-bottom: 1.25cm;
    mergin-right: 2.5cm;

    @top-left-corner {
        content: element(logo);
    }

    @top-center {
        content: element(page-header);
    }

    @bottom-center {
        content: element(page-footer);
    }

    @bottom-right {
        content: counter(page);
    }
}

.audiotax-logo {
    position: running(logo);
}

.page-header {
    position: running(page-header);
    font-size: 13pt;
    text-align: center;
}

.page-footer {
    position: running(page-footer);
    font-size: 13pt;
    text-align: center;
}

body {
    font-family: Arial, Arimo, sans-serif;
}

h1 {
    font-size: 18pt;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-normal {
    font-size: 12pt;
}

.text-bold {
    font-weight: bold;
}

.paragraph {
    page-break-inside: avoid;
}